<section class="epicue-tease" id="epicue-tease" data-aos="fade-in">
    <div>
    <h1 class="epicue-main-text">Making felt heat tangible</h1>
    <p class="epicue-sub-text">Heat stress prevention for outdoor workers in high heat environments via epifluidic sweat monitoring.</p>
    <p class="epicue-exhibition">On display at The Royal College of Art, Battersea, London on 3 & 4 February 2023</p>
    <a href="https://wip2023.rca.ac.uk/programmes/innovation-design-engineering-ghost-labs-ma" class="project-cta">Learn more</a>
    </div>    
</section>
