<!-- <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header> -->

<header>
    <!-- <h1 class="header-text">To be painfully honest, we are still figuring out what to show here.</h1> -->
    <h1 class="header-text">Fusing scientific know-how with design awareness to create impactful innovation. Stay tuned to see what is to follow for Ghost Labs.</h1>
</header>
