<!-- <header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header> -->

<header>
    <div class="vertical-middle">
    <!-- <h1 class="header-text">To be painfully honest, we are still figuring out what to show here.</h1> -->
    <h1 class="header-text">Fusing scientific know-how with design awareness to create impactful innovation.</h1>
    <!-- <h2 class="header-subtext"> Stay tuned to see what is to follow for Ghost Labs.</h2> -->
    <a href="#epicue-tease">
    <p class="header-cta">Have a look at what we have been working on currently</p>
    <i class="fa-solid fa-arrow-down header-arrow" style="color: rgb(161, 161, 161);"></i>
    </a>
    </div>    
</header>
