<section class="the-team-section">
    <h2 class="section-title">The Team</h2>
    <p class="section-descriptor">Ah, some deeper issues</p>

    <div class="team-container">
        <div class="member">
            <img src="img/admin/Orestis_Head_Color.jpg">
            <h4 class="member-name">Orestis Neokleous</h4>
            <p class="member-position">[[electronic things]]</p>
        </div>
        <div class="member">
            <img src="img/admin/Selene_Head_Color.jpg">
            <h4 class="member-name">Selene Sari</h4>
            <p class="member-position">[[aerodynamic things]]</p>
        </div>
        <div class="member">
            <img src="img/admin/Seb_Head_Color.jpg">
            <h4 class="member-name">Seb Tam</h4>
            <p class="member-position">[[product things]]</p>
        </div>
        <div class="member">
            <img src="img/admin/Priyanshu_Head_Color.jpg">
            <h4 class="member-name">Priyanshu Mukhopadhyay</h4>
            <p class="member-position">[[graphic things]]</p>
        </div>
    </div>
</section>